code/
code-analysis/
memo/
model/

input/optiver-realized-volatility-prediction/*
!input/optiver-realized-volatility-prediction/sample_submission.csv
setup/.vs
submission/*.csv
submission/feature_check.ipynb
submission/model.txt
